*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  font-size: 4em;
  color: #25d366;
  cursor: pointer;
}

header {
  width: 80%;
  height: 60px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.nav-item {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  //list-style-type: none;
}

.nav-link {
  opacity: 0.5;
  text-decoration: none;
  transition: 0.25s;
}

.nav-link:hover {
  opacity: 1;
  transform: translateY(-10%);
}

.nav-icon {
  display: none !important;
}

.nav-text {
  font-weight: bolder;
  color: black;
}

/** 
 * ===================================================================
 * 10. intro - (_layout.scss) 
 *
 * ------------------------------------------------------------------- 
 */
#intro {
  background: white no-repeat center bottom;
  //background: #151515 url(../images/code2.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
}
.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0.85;
}

.intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translateY(-2.1rem);
  -ms-transform: translateY(-2.1rem);
  transform: translateY(-2.1rem);
}
.intro-content h1 {
  color: black;
  font-family: "poppins-medium", sans-serif;
  font-size: 8.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
  color: blue;
  font-family: "poppins-bold", sans-serif;
  font-size: 2.3rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
  display: inline-block;
}
.intro-content .intro-position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
  color: black !important;
  border-color: rgba(255, 255, 255, 0.3);
  height: 6rem !important;
  line-height: 5.4rem !important;
  padding: 0 3.5rem 0 3rem !important;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.intro-content .button:hover,
.intro-content .button:focus {
  border-color: blue;
}
.intro-content .button::after {
  display: inline-block;
  content: "\f107";
  font-family: fontAwesome;
  font-size: 1.6rem;
  line-height: inherit;
  text-align: center;
  position: relative;
  left: 1.2rem;
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.intro-social li a,
.intro-social li a:visited {
  color: black;
}
.intro-social li a:hover,
.intro-social li a:focus {
  color: blue;
}

/*
 /* responsive:
 /* Intro
 /* --------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  .intro-content h1 {
    font-size: 7.6rem;
  }
  .intro-social {
    font-size: 3rem;
  }
  .intro-social li {
    margin: 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  #intro {
    min-height: 660px;
  }
  .intro-content h1 {
    font-size: 5.2rem;
  }
  .intro-content h5 {
    font-size: 1.8rem;
  }
  .intro-content .intro-position {
    font-size: 1.3rem;
  }
  .intro-social {
    font-size: 2.5rem;
  }
  .intro-social li {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 600px) {
  #intro {
    min-height: 600px;
  }
  .intro-content h1 {
    font-size: 4.6rem;
    margin-bottom: 0.6rem;
  }
  .intro-content h5 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.2rem;
  }
  .intro-content .intro-position {
    font-size: 1.2rem;
  }
  .intro-content .intro-position span {
    padding: 0 0.6rem;
  }
  .intro-content .intro-position span::before,
  .intro-content .intro-position span::after {
    display: none !important;
  }
  .intro-social {
    font-size: 2.4rem;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.title::after {
  content: "";
  width: 140px;
  height: 5px;
  background-color: tomato;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  //border: 1px solid black;
  flex-basis: 25%;
  padding: 10px;
  margin: 20px;
  min-width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.col img {
  width: 100%;
}

footer {
  height: 60px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-weight: bolder;
  font-size: 24px;
}

@media screen and (max-width: 487px) {
  /* lakukan Responsive Code (versi mobile)*/
  header {
    width: 100%;
    position: fixed;
    bottom: 16px;
    left: 0;
    z-index: 9;
    padding: 10px;
  }

  .nav-list {
    background-color: white;
  }

  .nav-icon {
    display: block !important;
    font-size: 24px;
    transition: 0.25s;
  }

  .nav-icon:hover {
    transform: translateY(-10%);
  }

  .nav-text {
    display: none;
  }

  .col {
    text-align: center;
    flex-basis: 100%;
  }

  footer {
    height: 150px;
    align-items: baseline;
  }

  footer p {
    margin-top: 25px;
    border-radius-top: 10px;
  }
}

/* Halaman Contact
* {
  box-sizing: border-box;
}

/* Style untuk inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style untuk bagian container/contact  */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Buat dua kolom yang berfloat di samping satu sama lain */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Hapus floats setelah columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout -ketika layar kurang dari 600px lebarnya, buat dua kolom bertumpuk satu sama lain, bukan di samping satu sama lain */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* tinggi dari footer */
  background: black;
}
